<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Game Library</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  class="navbar-brand with-image" href="index.html"style="width: 75px"><img class="home-button-actual" src="resources/re2.png" /></a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle with-image" data-toggle="dropdown" href="#"><img class="home-button" src="resources/steam-xxl.png" /></a><a class="dropdown-toggle with-image" data-toggle="dropdown" href="#">Steam<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="csgo.html">Counter-Strike: Global Offensive</a></li>
                        <li><a href="portal.html">Portal 2</a></li>
                        <li><a href="rocket.html">Rocket League</a></li>
                        <li><a href="civ.html">Sid Meier's Civilization VI</a></li>
                        <li><a href="stardew.html">Stardew Valley</a></li>
                        <li><a href="terraria.html">Terraria</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle with-image" data-toggle="dropdown" href="#"><img class="home-button" src="resources/WhitePS.png" /></a><a class="dropdown-toggle with-image" data-toggle="dropdown" href="#">Playstation<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="no-items btn disabled" href="#">-Empty-</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle with-image" data-toggle="dropdown" href="#"><img class="home-button" src="resources/consoles-xbox-xxl.png" /></a><a class="dropdown-toggle with-image" data-toggle="dropdown" href="#">Xbox<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="no-items btn disabled" href="#">-Empty-</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle with-image" data-toggle="dropdown" href="#"><img class="home-button" src="resources/WhiteNin.png" /></a><a class="dropdown-toggle with-image" data-toggle="dropdown" href="#">Nintendo<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="no-items btn disabled" href="#">-Empty-</a></li>

                    </ul>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html">About</a></li>
                <!-- <li><a id="signup" href="#"><span class="glyphicon glyphicon-user disabled"></span> Sign Up</a></li>
                <li><a id="login" href="#"><span class="glyphicon glyphicon-log-in "></span> Login</a></li> -->
            </ul>
        </div>
    </div>
</nav>


<div class="container about">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p>This website statically displays the authors current installed games library, with screenshots and information about each game. Why did I include this silly about page? The about button on the right side of the navbar looked good. </p>
        </div>
    </div>

    <hr class="featurette-divider">

</div><!-- /.container -->

</div>

<footer id="aboutpagefooter">

    <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

<script src="js/custom.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>