{% extends 'list/base.html'%}

{% block content %}
    {% for todo in todos%}
        <div class="todo">
          <div class="date">
            {{ todo.deadline_date}}
          </div>
          <b><a href="{% url 'todo_detail' pk=todo.pk %}">{{ todo.title }}</a></b> <code>by {{ todo.deadline_date }}</code>
          <p>{{ todo.text|linebreaksbr }}</p>
          <a href="{% url 'todo_detail' pk=todo.pk %}">Comments: {{ todo.approved_comments.count }}</a>
      </div>
    {% endfor %}
{% endblock %}
