body {
    background-color: #1B2838;
}

.navbar{
    margin-bottom: 0;
}

.right{
    float: right;
}



.featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.headimg.img1{
    margin: 5px;
    width: 50px;
    height: 50px;
    float: left;
}

.headimg.img2{
    margin: 5px;
    width: 50px;
    height: 50px;
    float: right;
}
.headimg.img3{
    margin: 5px;
    width: 50px;
    height: 50px;
}
.headimg.img4{
    margin: 5px;
    width: 50px;
    height: 50px;
}

.gamebtn{
  float: right;
}

.page_title{
  text-align: center;
  vertical-align: bottom;
}

.infobar{
  height: inherit;
  background-color: black;
  opacity: 0.5;
  height: 45%;
}

.info{
  color: white; 
}



/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider.smaller{
    margin: 1rem 0;
}
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette-image{
    display: block;
    max-width:450px;
    max-height:500px;
    width: auto;
    height: auto;
}



.no-items{
    color: dimgray;;
}

ul.nav li a.no-items {
    color: dimgray !important;
    text-align: inherit;
}

.home-thing{
    color: dimgray !important;
    text-align: center;

}

p {
    color: white;
}

.install-date{
    vertical-align: bottom;

}


.sidenav span {
    position: absolute;
    bottom: 15px;

}

.about{
    height:300px
}

h1{
    color: whitesmoke;
}

h2{
    color: whitesmoke;
}
.dunno {
    color: white;
}



/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height:570px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: black;
    opacity: 0.5;
    height: 100%;
    padding: 20px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    padding-top: 15px;

}

#aboutpagefooter{
    position: absolute;
    right:0;
    left:0;
    bottom:0;
}




/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 992px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}

@media screen and (max-width: 1200px) {
    .sidenav {
        height: 83%;
        padding: 15px;
    }
    .featurette-image{
        max-width:380px;
        max-height:430px;
        padding-top: 50px;
    }

}
@media screen and (max-width: 992px) {
    .featurette-image{


        padding-top: 0px;
    }

}

.home-button {
    margin: 0px;
    width: 20px;
    height: 20px;
}

.home-button-actual {
    margin: 0px;
    width: 25px;
    height: 25px;
    display: block;
}

.with-image{
    float: left;
}

.toggle{
    color: royalblue;
}
